/* Normalize ------------------------------------------------------------ */
body,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}
/* Styler ------------------------------------------------------------ */
* {
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

html body {
  font-family: "Pretendard";
  overflow-x: hidden;
  position: relative;
  height: auto;
}

header,
main,
footer {
  width: 100%;
}

span,
img {
  display: block;
}
/* Variable ------------------------------------------------------------ */
:root {
  --margin-grid-system: 0 14rem;
  --primary-color: rgba(0, 117, 197, 1);
  --main-color-white: rgba(248, 249, 250, 1);
  --main-color-gray: rgba(68, 68, 68, 1);
  --secondary-color: rgba(0, 67, 142, 1);
  --color-black: #000;
  --color-white: #fff;
  --box-border: 0.1rem solid red;
  --object-cover: cover;
  --object-contain: contain;
}
/* Customize --------------------------------------------------------------- */
.top-btn {
  padding: 1.8rem 1.2rem;
  position: absolute;
  bottom: 0;
  right: 0;
  translate: -50% -50%;
  z-index: 50;
  font-size: 1.6rem;
  letter-spacing: 1.2;
  color: var(--color-white);
  background-color: var(--secondary-color);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  position: fixed;
  transition: all 300s ease;
}

.top-btn:hover {
  transform: rotate(calc(3600000deg / 2));
  transition: all 300s ease;
}
/* Swiper --------------------------------------------------------------- */
.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: var(--object-cover);
}
/* header --------------------------------------------------------------- */
header {
  width: 100dvw;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 117, 197, 0.2);
  z-index: 100;
  backdrop-filter: blur(1rem);
}

header.hide {
  transform: translateY(-100%);
  opacity: 0;
  visibility: hidden;
  transition: all 0.6s ease;
}

header.show {
  transform: translateY(0);
  opacity: 1;
  visibility: visible;
  transition: all 0.6s ease;
}

header.on-sec-w {
  background-color: rgba(255, 255, 255, 0.2);
}

header > .hd-container {
  width: 164rem;
  height: 9rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/* header > logo-box --------------------------------------------------------------- */
header > .hd-container > .hd-logo-box {
  height: 100%;
  width: 19rem;
}

header > .hd-container > .hd-logo-box > a {
  height: 100%;
  width: 19rem;
  padding: 0 1.8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  overflow: hidden;
}

header > .hd-container > .hd-logo-box > a > img {
  display: block;
  width: 100%;
  transition: all 0.3s ease-in-out;
}

header > .hd-container > .hd-logo-box > a > .hd-logo-c {
  display: none;
}

header.on-sec-w > .hd-container > .hd-logo-box > a > .hd-logo-w {
  display: none;
}

header.on-sec-w > .hd-container > .hd-logo-box > a > .hd-logo-c {
  display: block;
}

header > .hd-container > .hd-logo-box > a:hover > img {
  transform: scale(1.1);
  transition: all 0.3s ease-in-out;
}
/* header > menu-box --------------------------------------------------------------- */
header > .hd-container > .menu-box {
  height: 100%;
}

header > .hd-container > .menu-box > ul {
  display: flex;
  height: 100%;
  align-items: center;
}

header > .hd-container > .menu-box > ul > li {
  height: 100%;
  width: 100%;
  padding: 0 1.8rem;
  white-space: nowrap;
  position: relative;
  z-index: 9;
}

header > .hd-container > .menu-box > ul > li > a {
  position: relative;
  display: flex;
  height: 100%;
  padding: 0 1.2rem;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  font-weight: 700;
  color: var(--main-color-white);
}

header.on-sec-w > .hd-container > .menu-box > ul > li > a {
  color: var(--color-black);
}

header > .hd-container > .menu-box > ul > li > a::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  transform: translateY(-120%) scaleX(0);
  width: 100%;
  height: 0.4rem;
  background-color: var(--main-color-white);
  text-align: center;
  transition: all 0.2s ease-in-out;
}

header.on-sec-w > .hd-container > .menu-box > ul > li > a::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  transform: translateY(-120%) scaleX(0);
  width: 100%;
  height: 0.4rem;
  background-color: var(--primary-color);
  text-align: center;
  transition: all 0.2s ease-in-out;
}

header > .hd-container > .menu-box > ul > li:hover > a::after {
  transform: translateY(-120%) scaleX(1);
  transition: all 0.2s ease-in-out;
}

header > .hd-container > .menu-box > ul > .bg-container {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: rgba(255, 255, 255, 1);
  backdrop-filter: blur(1rem);
  width: 100%;
  height: 42rem;
  z-index: 8;
}

header > .hd-container > .menu-box > .menu-item-container {
  position: absolute;
  width: 164rem;
  display: flex;
  justify-content: space-between;
  top: 100%;
  left: 50%;
  transform: translate(-50%, 0);
  z-index: 9;
  display: none;
}

header > .hd-container > .menu-box:hover > .menu-item-container {
  display: flex;
}

header > .hd-container > .menu-box > .menu-item-container > ul {
  color: var(--main-color-gray);
  flex: 1 0 0;
  padding: 1.2rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  transition: all 0.2s linear;
  font-size: 1.6rem;
  font-weight: 400;
  opacity: 0;
  visibility: hidden;
}

header > .hd-container > .menu-box > .menu-item-container > ul.fade {
  opacity: 1;
  visibility: visible;
}

header > .hd-container > .menu-box > .menu-item-container > ul > .menu-item-initial {
  color: #000;
  font-size: 2rem;
  font-weight: 700;
  text-align: center;
  padding: 1.2rem 0;
  transition: all 0.1s ease-in-out;
  cursor: default;
}

header > .hd-container > .menu-box > .menu-item-container > ul:hover > .menu-item-initial {
  color: var(--secondary-color);
  transform: scale(1.1);
  transition: all 0.1s ease-in-out;
}

header > .hd-container > .menu-box > .menu-item-container > ul > li {
  width: 100%;
}

header > .hd-container > .menu-box > .menu-item-container > ul > li > a {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding: 1.1rem 0;
  transition: all 0.1s ease-in-out;
  border-radius: 0.4rem;
}

header > .hd-container > .menu-box > .menu-item-container > ul > li:hover > a {
  background-color: var(--primary-color);
  color: var(--main-color-white);
  transition: all 0.1s ease-in-out;
}
/* header > side-box --------------------------------------------------------------- */
header > .hd-container > .side-box {
  height: 100%;
  padding: 0 1.8rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

header > .hd-container > .side-box > .language-box {
  transform: translateY(25%);
}

header > .hd-container > .side-box > .language-box > .translate-box > a {
  display: flex;
  justify-content: center;
  gap: 2.4rem;
  align-items: center;
  transform: translateY(50%);
  color: var(--main-color-white);
  box-sizing: border-box;
  overflow: hidden;
  font-size: 1.6rem;
  font-weight: 600;
}

header.on-sec-w > .hd-container > .side-box > .language-box > .translate-box > a > span {
  color: var(--color-black);
}

header.on-sec-w > .hd-container > .side-box > .language-box > .translate-box > a > img {
  filter: brightness(0);
}

header > .hd-container > .side-box > .language-box > .translate-box > a > .languages-wrapper {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

header > .hd-container > .side-box > .language-box > .translate-box > a > .languages-wrapper > span {
  width: 100%;
  height: 100%;
  font-size: 1.6rem;
  font-weight: 600;
  padding: 0.6rem 2.4rem;
}

header > .hd-container > .side-box > .language-box > .translate-box-1 > a > img {
  width: 1.4rem;
  object-fit: cover;
  filter: brightness(1);
  transition: all 0.3s ease-in-out;
}

header > .hd-container > .side-box > .language-box > .translate-box-1 > a > img.rotate {
  transform: rotate(-180deg);
  transition: all 0.3s ease-in-out;
}

header > .hd-container > .side-box > .language-box > .translate-box-2 {
  margin-top: -1.2rem;
  opacity: 0;
  visibility: hidden;
  transition: all 0.2s ease-in-out;
}

header > .hd-container > .side-box > .language-box > .translate-box-2.drop {
  opacity: 1;
  visibility: visible;
  transition: all 0.2s ease-in-out;
}

header > .hd-container > .side-box > .language-box > .translate-box-2 > a {
  color: var(--primary-color);
  background-color: var(--main-color-white);
  border-radius: 0.4rem;
}

header.on-sec-w > .hd-container > .side-box > .language-box > .translate-box-2 > a {
  color: var(--main-color-white);
  background-color: var(--main-color-gray);
}

header > .hd-container > .side-box > .language-box > .translate-box-2 > a > .languages-wrapper > span.hover {
  color: var(--main-color-white);
  background-color: var(--primary-color);
}

header > .hd-container > .side-box > .language-box > .translate-box-2 > a > img {
  opacity: 0;
  visibility: hidden;
}

header > .hd-container > .side-box > .tab-box {
  display: none;
  width: 100%;
  height: 100%;
}

header > .hd-container > .side-box > .tab-box > a {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  overflow: hidden;
}

header > .hd-container > .side-box > .tab-box > a > img {
  display: block;
  width: 2.4rem;
  object-fit: cover;
  filter: brightness(10);
}
/* main --------------------------------------------------------------- */
main {
  width: 100%;
  height: 100%;
  position: relative;
}

.section {
  background-color: var(--main-color-gray);
}
/* main > sec-1 --------------------------------------------------------------- */
main > .sec-1 {
  width: 100dvw;
  min-width: 192rem;
  height: 108dvh;
  position: relative;
}

main > .sec-1 > .swiper {
  width: 100%;
  height: 100%;
}

main > .sec-1 > .swiper > .swiper-wrapper > .swiper-slide {
  box-sizing: border-box;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

main > .sec-1 > .swiper > .swiper-wrapper > .swiper-slide > img {
  width: 100%;
  height: 100%;
  object-fit: var(--object-cover);
  filter: brightness(0.8);
}

main > .sec-1 > .text-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 4.8rem;
  position: absolute;
  top: 50%;
  left: 0%;
  transform: translateY(-50%);
  z-index: 7;
  margin: var(--margin-grid-system);
  margin-top: 9.6rem;
  line-height: 1.4;
  white-space: nowrap;
  pointer-events: none;
}

main > .sec-1 > .text-container > h1 {
  color: var(--main-color-white);
  font-size: 6.4rem;
  font-weight: 600;
  cursor: default;
  text-shadow: 0.4rem 0.4rem rgba(68, 68, 68, 0.2);
}

main > .sec-1 > .text-container > .text-en {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 2.4rem;
}

main > .sec-1 > .text-container > .text-en > img {
  width: 3rem;
  height: 2.25rem;
}

main > .sec-1 > .text-container > .text-en > span {
  color: var(--main-color-white);
  font-size: 3.2rem;
  font-weight: 600;
  cursor: default;
}

main > .sec-1 > .text-container > .custom-pagination {
  display: flex;
  align-items: center;
  gap: 1.2rem;
  color: var(--main-color-white);
  font-size: 2.2rem;
  font-weight: 500;
}

main > .sec-1 > .text-container > .custom-pagination > .progress-bar {
  width: 22.4rem;
  height: 1rem;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 1.4rem;
  overflow: hidden;
}

main > .sec-1 > .text-container > .custom-pagination > .progress-bar > .progress {
  height: 100%;
  width: 0%;
  border-radius: 1.4rem;
  background-color: rgba(230, 230, 230, 1);
  transition: width 0.35s ease-in-out;
}

main > .sec-1 > .text-container > .custom-pagination > .prev-btn,
.next-btn {
  pointer-events: auto;
  background: none;
  border: none;
  color: var(--color-white);
  cursor: pointer;
  box-sizing: border-box;
  overflow: hidden;
}

main > .sec-1 > .text-container > .custom-pagination > .prev-btn > img,
.next-btn > img {
  width: 1rem;
  height: 1.4rem;
  object-fit: cover;
}

main > .sec-1 > .text-container > .custom-pagination > .current,
.total {
  width: 2rem;
}
/* main > sec-2 --------------------------------------------------------------- */
.sec-2 {
  width: 100vw;
  min-width: 192rem;
  height: 100vh;
  position: relative;
  cursor: default;
  z-index: 6;
  background-color: var(--main-color-white);
}

.sec-2-text-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: auto;
  width: 100%;
  height: 40rem;
  overflow: hidden;
  text-align: center;
  z-index: 7;
}

.sec2-text {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  white-space: nowrap;
  pointer-events: none;
  font-size: 6.4rem;
  color: var(--main-color-white);
  font-weight: 700;
  text-align: center;
  line-height: 1.5;
}

.t5 {
  display: flex;
  justify-content: center;
  padding: 3.8rem 0;
  width: 100%;
  overflow: hidden;
  box-sizing: border-box;
}

.t5 > img {
  width: 45rem;
  object-fit: var(--object-cover);
}

.sec-2 > .bg-container {
  width: 100%;
  height: 100%;
  overflow: hidden;
  box-sizing: border-box;
}

.sec-2 > .bg-container > img {
  width: 100%;
  height: 100%;
  object-fit: var(--object-cover);
}
/* main > sec-3 --------------------------------------------------------------- */
main > .sec-3 {
  width: 100dvw;
  min-width: 192rem;
  height: 108dvh;
  padding: 6rem 0;
  cursor: default;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: url(Image_file/main-images/sec-3/sec-3-background-img.png) no-repeat center center;
  background-size: cover;
}

main > .sec-3 > .left-box {
  margin: var(--margin-grid-system);
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
  color: var(--main-color-white);
  white-space: nowrap;
}

main > .sec-3 > .left-box > span:nth-child(1) {
  font-size: 2.8rem;
  font-weight: 600;
}

main > .sec-3 > .left-box > h2 {
  font-size: 7.2rem;
  font-weight: 600;
}

main > .sec-3 > .left-box > span:nth-child(3) {
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.6;
}

main > .sec-3 > .left-box > span:nth-child(4) {
  position: relative;
  margin-top: 4.8rem;
  width: 19rem;
  height: 5rem;
  font-size: 2rem;
  font-weight: 800;
  color: var(--main-color-gray);
  background-color: var(--main-color-white);
  border-radius: 3.6rem;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

main > .sec-3 > .left-box > span:nth-child(4)::before {
  content: "VIEW MORE";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  transform: scaleX(0);
  background-color: var(--primary-color);
  border-radius: 3.6rem;
  color: var(--main-color-white);
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  border: 0.15rem solid var(--prim ary-color);
}

main > .sec-3 > .left-box > span:nth-child(4):hover::before {
  transform: scaleX(1);
  transition: all 0.2s ease-in-out;
}

main > .sec-3 > .left-box > span:nth-child(4) > a {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

main > .sec-3 > .right-box {
  margin: var(--margin-grid-system);
  display: grid;
  grid-template-columns: 1fr 1fr;
}

main > .sec-3 > .right-box > .produce-box {
  width: 48rem;
  height: 40rem;
  border-radius: 2.4rem;
  margin: 2.4rem;
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(1.5rem);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2.4rem;
  color: var(--main-color-white);
  transition: all 0.6s linear;
}

main > .sec-3 > .right-box > .produce-box:hover {
  background: radial-gradient(circle closest-side at center, rgba(255, 255, 255, 0.3) 10%, rgba(0, 67, 142, 0.3) 90%);
  backdrop-filter: blur(1rem);
  transition: all 0.6s linear;
}

main > .sec-3 > .right-box > .produce-box > div {
  transform: scale(1);
  transition: all 0.3s linear;
}

main > .sec-3 > .right-box > .produce-box:hover > div {
  transform: scale(1.1);
  transition: all 0.3s linear;
}

.sec-3 > .right-box > .produce-box > .titles {
  font-weight: 600;
  font-size: 2.4rem;
}

.sec-3 > .right-box > .produce-box > .number {
  font-weight: 600;
  font-size: 4.8rem;
}

.sec-3 > .right-box > .produce-box > .unit {
  font-weight: 500;
  font-size: 1.8rem;
}
/* main > sec-4 --------------------------------------------------------------- */
main > .sec-4 {
  width: 100dvw;
  min-width: 192rem;
  height: 108dvh;
  padding: 8rem 0;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: #111;
  z-index: 6;
  overflow: hidden;
}

main > .sec-4 > .bg-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  overflow: hidden;
  z-index: 5;
  pointer-events: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

main > .sec-4 > .bg-container > img {
  width: 250%;
  height: 250%;
  animation-name: bgWave;
  animation-duration: 24s;
  animation-iteration-count: infinite;
  animation-play-state: running;
  object-fit: var(--object-cover);
  filter: brightness(1.2);
}

main > .sec-4 > .top-box {
  position: static;
  z-index: 7;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2.4rem;
  color: var(--main-color-white);
  cursor: default;
  text-align: center;
}

main > .sec-4 > .top-box > span:nth-child(1) {
  font-size: 2.4rem;
  font-weight: 600;
}

main > .sec-4 > .top-box > h4 {
  font-size: 6.4rem;
  font-weight: 600;
}

main > .sec-4 > .top-box > span:nth-child(3) {
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.6;
}

main > .sec-4 > .bottom-box {
  position: static;
  z-index: 8;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--margin-grid-system);
}

main > .sec-4 > .bottom-box > .circle-1 {
  background: url(Image_file/main-images/sec-4/sec-4-circle-1-img.png) no-repeat center center;
  background-size: var(--object-cover);
}

main > .sec-4 > .bottom-box > .circle-2 {
  background: url(Image_file/main-images/sec-4/sec-4-circle-2-img.png) no-repeat center center;
  background-size: var(--object-cover);
}

main > .sec-4 > .bottom-box > .circle-3 {
  background: url(Image_file/main-images/sec-4/sec-4-circle-3-img.png) no-repeat center center;
  background-size: var(--object-cover);
}

main > .sec-4 > .bottom-box > .circles {
  position: relative;
  width: 48rem;
  height: 48rem;
  border-radius: 50%;
  background-color: var(--color-black);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.8rem;
  z-index: 8;
  transition: all 0.6s linear;
  box-shadow: 0.8rem 0.8rem 2.4rem rgba(0, 67, 142, 0.6);
}

main > .sec-4 > .bottom-box > .circles:hover {
  transform: translateY(-10%);
  transition: all 0.6s linear;
  box-shadow: none;
}

main > .sec-4 > .bottom-box > .circles::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: var(--color-black);
  border-radius: 50%;
  opacity: 0.4;
  transition: all 0.15s ease-in-out;
}

main > .sec-4 > .bottom-box > .circles:hover::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: var(--color-black);
  border-radius: 50%;
  opacity: 0;
  transition: all 0.15s ease-in-out;
}

main > .sec-4 > .bottom-box > .circles > span {
  color: var(--main-color-white);
  cursor: pointer;
  position: static;
  z-index: 9;
}

main > .sec-4 > .bottom-box > .circles > span:first-child {
  font-size: 2.8rem;
  font-weight: 600;
}

main > .sec-4 > .bottom-box > .circles > span:last-child {
  font-size: 1.6rem;
  font-weight: 500;
}
/* main > sec-5 --------------------------------------------------------------- */
main > .sec-5 {
  width: 100dvw;
  min-width: 192rem;
  height: 108dvh;
  position: relative;
  cursor: default;
}

main > .sec-5 > .bg-container {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  overflow: hidden;
  pointer-events: none;
}

main > .sec-5 > .bg-container > img {
  width: 100%;
  height: 100%;
  object-fit: var(--object-cover);
}

main > .sec-5 > .text-container {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  padding: 8rem 0;
  transform: translate(-50%, -50%);
  text-align: center;
  color: var(--main-color-white);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

main > .sec-5 > .text-container > .top-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2.4rem;
  color: var(--main-color-white);
  cursor: default;
}

main > .sec-5 > .text-container > .top-box > span:nth-child(1) {
  font-size: 2.4rem;
  font-weight: 600;
}

main > .sec-5 > .text-container > .top-box > h4 {
  font-size: 6.4rem;
  font-weight: 600;
}

main > .sec-5 > .text-container > .top-box > span:nth-child(3) {
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.6;
}

main > .sec-5 > .text-container > .bottom-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  padding: var(--margin-grid-system);
}

main > .sec-5 > .text-container > .bottom-box > .value-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4.8rem 0;
  border-bottom: 0.1rem solid var(--color-white);
}

main > .sec-5 > .text-container > .bottom-box > .value-wrap > .left-box {
  width: 27.5rem;
  text-align: left;
}


main > .sec-5 > .text-container > .bottom-box > .value-wrap > .left-box > span:nth-child(1) {
  font-weight: 600;
  font-size: 3.8rem;
}

main > .sec-5 > .text-container > .bottom-box > .value-wrap > .left-box > span:nth-child(2) {
  font-weight: 400;
  font-size: 2.4rem;
}

main > .sec-5 > .text-container > .bottom-box > .value-wrap > .center-box {
  font-weight: 400;
  font-size: 2rem;
  text-align: left;
  flex: 1 0 0;
  padding-left: 22.4rem;
}

main > .sec-5 > .text-container > .bottom-box > .value-wrap > .right-box > a > img {
  transition: all 0.3s ease-in-out;
}

main > .sec-5 > .text-container > .bottom-box > .value-wrap > .right-box:hover > a > img {
  transform: translateX(30%);
  transition: all 0.3s ease-in-out;
}
/* main > sec-6 --------------------------------------------------------------- */
main > .sec-6 {
  width: 100dvw;
  min-width: 192rem;
  height: 108dvh;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 6rem 0;
  background-color: var(--main-color-white);
  cursor: default;
}

main > .sec-6 > .top-box {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2.4rem;
  color: var(--main-color-gray);
}

main > .sec-6 > .top-box > span {
  font-size: 2.4rem;
  font-weight: 600;
}

main > .sec-6 > .top-box > h4 {
  font-size: 6.4rem;
  font-weight: 600;
}

main > .sec-6 > .top-box > .word-search-tag {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 4.8rem;
  width: 95rem;
}

main > .sec-6 > .top-box > .word-search-tag > span {
  width: 15.5rem;
  font-size: 2.4rem;
  font-weight: 700;
}

main > .sec-6 > .top-box > .word-search-tag > .word-box {
  display: flex;
  gap: 0.6rem;
}

main > .sec-6 > .top-box > .word-search-tag > .word-box > .words > a {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  font-weight: 600;
  padding: 0.6rem 1rem;
  border-radius: 0.4rem;
  color: var(--color-black);
  background-color: rgba(68, 68, 68, 0.1);
}

main > .sec-6 > .top-box > .word-search-tag > .word-box > .words > a:hover {
  color: var(--main-color-white);
  background-color: var(--primary-color);
}

main > .sec-6 > .top-box > .category-search-tag {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 4.8rem;
  width: 95rem;
}

main > .sec-6 > .top-box > .category-search-tag > span {
  width: 15.5rem;
  font-size: 2.4rem;
  font-weight: 700;
}

main > .sec-6 > .top-box > .category-search-tag > .category-box {
  gap: 0.6rem;
  display: flex;
  flex-direction: column;
}

main > .sec-6 > .top-box > .category-search-tag > .category-box > .split-box {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 0.6rem;
}

main > .sec-6 > .top-box > .category-search-tag > .category-box > .split-box > .categories > a {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  font-weight: 600;
  padding: 1rem 2rem;
  border-radius: 0.4rem;
  color: var(--color-black);
  background-color: rgba(68, 68, 68, 0.1);
}

main > .sec-6 > .top-box > .category-search-tag > .category-box > .split-box > .categories > a:hover {
  color: var(--main-color-white);
  background-color: var(--primary-color);
}


main > .sec-6 > .top-box > .search-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1.2rem;
}

main > .sec-6 > .bottom-box {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--main-color-gray);
  padding: var(--margin-grid-system);
}

main > .sec-6 > .bottom-box > .goods-box {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 1.2rem;
}

main > .sec-6 > .bottom-box > .goods-box > a {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  overflow: hidden;
}

main > .sec-6 > .bottom-box > .goods-box > a > img {
  width: 100%;
  height: 100%;
  object-fit: var(--object-cover);
  transition: all 0.2s linear;
}

main > .sec-6 > .bottom-box > .goods-box > a:hover > img {
  transform: scale(1.1);
  transition: all 0.2s linear;
}

main > .sec-6 > .bottom-box > .goods-box > span:nth-child(1) {
  font-weight: 700;
  font-size: 2.2rem;
  color: var(--primary-color);
}

main > .sec-6 > .bottom-box > .goods-box > span:nth-child(2) {
  font-size: 3.4rem;
  font-weight: 700;
  color: var(--color-black);
}

main > .sec-6 > .bottom-box > .goods-box > span:nth-child(4) {
  font-size: 1.6rem;
  font-weight: 500;
  color: var(--main-color-gray);
}
/* main > sec-7 --------------------------------------------------------------- */
main > .sec-7 {
  width: 100dvw;
  min-width: 192rem;
  height: 108dvh;
  padding: 10rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: var(--main-color-white);
  cursor: default;
}

main > .sec-7 > .top-box {
  color: var(--main-color-gray);
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2.4rem;
  cursor: default;
}

main > .sec-7 > .top-box > span:nth-child(1) {
  font-size: 2.4rem;
  font-weight: 600;
}

main > .sec-7 > .top-box > h4 {
  font-size: 6.4rem;
  font-weight: 600;
}

main > .sec-7 > .top-box > span:nth-child(3) {
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.6;
}

main > .sec-7 > .top-box > span:nth-child(4) {
  position: relative;
  width: 19rem;
  height: 5rem;
  font-size: 2rem;
  font-weight: 800;
  color: var(--main-color-white);
  background-color: var(--color-black);
  border-radius: 3.6rem;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

main > .sec-7 > .top-box > span:nth-child(4)::before {
  content: "VIEW MORE";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  transform: scaleX(0);
  background-color: var(--primary-color);
  border-radius: 3.6rem;
  color: var(--main-color-white);
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  border: 0.15rem solid var(--prim ary-color);
}

main > .sec-7 > .top-box > span:nth-child(4):hover::before {
  transform: scaleX(1);
  transition: all 0.2s ease-in-out;
}

main > .sec-7 > .top-box > span:nth-child(4) > a {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

main > .sec-7 > .marquee-wrapper {
  display: flex;
  flex-wrap: nowrap;
  white-space: nowrap;
  overflow: hidden;
  width: 100%;
}

main > .sec-7 > .marquee-wrapper > .marquee-box {
  display: flex;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;
  gap: 2.4rem;
  margin: 0 1.2rem;
  white-space: nowrap;
  will-change: transform;
}

main > .sec-7 > .marquee-wrapper > .marquee-box > .news-pages {
  flex-shrink: 0;
  width: 35rem;
  height: 45rem;
  overflow: hidden;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}

main > .sec-7 > .marquee-wrapper > .marquee-box > .news-pages > .img-container {
  width: 35rem;
  height: 35rem;
  border-radius: 1.2rem;
  overflow: hidden;
  box-sizing: border-box;
}

main > .sec-7 > .marquee-wrapper > .marquee-box > .news-pages > .img-container > img {
  width: 100%;
  height: 100%;
  transition: all 0.3s ease-in-out;
}

main > .sec-7 > .marquee-wrapper > .marquee-box > .news-pages > .img-container > img:hover {
  transform: scale(1.1);
  transition: all 0.3s ease-in-out;
}

main > .sec-7 > .marquee-wrapper > .marquee-box > .news-pages > .text-container {
  flex-grow: 1;
  flex-basis: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  gap: 1.6rem;
}

main > .sec-7 > .marquee-wrapper > .marquee-box > .news-pages > .text-container > .text-top {
  margin-top: 2rem;
  font-size: 1.8rem;
  font-weight: 700;
}

main > .sec-7 > .marquee-wrapper > .marquee-box > .news-pages > .text-container > .text-bottom {
  font-weight: 600;
  font-size: 1.4rem;
  color: rgba(161, 161, 162, 0.8);

/* main > banner --------------------------------------------------------------- */}
main > .banner {
  width: 100dvw;
  padding: 6rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--main-color-gray);
  color: var(--main-color-white);
  cursor: default;
}

main > .banner > .banner-wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: var(--margin-grid-system);
}

main > .banner > .banner-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24rem;
}

main > .banner > .banner-wrapper > span {
  flex: 1 0 0;
  text-align: center;
}

main > .banner > .banner-wrapper > span:nth-child(1) {
  font-size: 3.2rem;
  font-weight: 700;
}

main > .banner > .banner-wrapper > span:nth-child(2) {
  font-size: 1.6rem;
  font-weight: 600;
  white-space: nowrap;
}

main > .banner > .banner-wrapper > a {
  flex: 1 0 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

main > .banner > .banner-wrapper > a > span {
  font-size: 1.8rem;
  font-weight: 800;
  border-radius: 3.6rem;
  padding: 1.4rem 4.2rem;
  background-color: var(--main-color-white);
  color: var(--main-color-gray);
  transition: all 0.3s ease;
}

main > .banner > .banner-wrapper > a > span:hover {
  background-color: var(--primary-color);
  color: var(--color-white);
  transition: all 0.3s ease;
}
/* main > sec-8 --------------------------------------------------------------- */
main > .sec-8 {
  width: 100dvw;
  min-width: 192rem;
  height: 108dvh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--main-color-white);
  cursor: default;
}

main > .sec-8 > .img-container {
  height: 100%;
  box-sizing: border-box;
  overflow: hidden;
}

main > .sec-8 > .img-container > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

main > .sec-8 > .text-container {
  text-align: right;
  padding: var(--margin-grid-system);
  white-space: nowrap;
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

main > .sec-8 > .text-container > span:nth-child(1) {
  font-size: 2.8rem;
  font-weight: 600;
}

main > .sec-8 > .text-container > h2 {
  font-size: 7.2rem;
  font-weight: 600;
}

main > .sec-8 > .text-container > span:nth-child(3) {
  font-size: 1.6rem;
  font-weight: 500;
}

main > .sec-8 > .text-container > .contact-box {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 2.4rem;
  margin-top: 1.2rem;
}

main > .sec-8 > .text-container > .contact-box > .arrow-wrapper > img {
  transition: all 0.3s ease-in-out;
}

main > .sec-8 > .text-container > .contact-box > .arrow-wrapper:hover > img {
  transform: translateX(30%);
  transition: all 0.3s ease-in-out;
}
/* footer --------------------------------------------------------------- */
footer {
  width: 100dvw;
  min-width: 192rem;
  height: 35rem;
  padding: 4.8rem 0;
  background-color: var(--main-color-gray);
  box-sizing: border-box;
}

footer > .btn-wrap {
  position: relative;
  width: 100%;
  cursor: pointer;
}

footer > .btn-wrap > .logo-box {
  display: flex;
  margin: var(--margin-grid-system);
}

footer > .btn-wrap > .logo-box > a {
  display: flex;
  width: 19rem;
  overflow: hidden;
}

footer > .btn-wrap > .logo-box > a > img {
  object-fit: cover;
  pointer-events: none;
}

footer > .btn-wrap > .btn {
  display: flex;
  flex-direction: column-reverse;
  position: absolute;
  right: 0;
  bottom: 0;
  margin: var(--margin-grid-system);
  width: 30rem;
  background-color: var(--main-color-gray);
  border-radius: 1.2rem;
  border: 0.2rem solid var(--main-color-white);
  font-size: 1.8rem;
  font-weight: 500;
  color: var(--main-color-white);
  background-color: var(--main-color-gray);
  z-index: 1;
  overflow: hidden;
}

footer > .btn-wrap > .btn > .title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.2rem 2.4rem;
}

footer > .btn-wrap > .btn > .title > a {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease-in-out;
}

footer > .btn-wrap > .btn > .title > a > img {
  width: 2.8rem;
  height: 2.8rem;
}

footer > .btn-wrap > .btn > .title > a.rotateReverse {
  transform: rotate(180deg);
  transition: all 0.3s ease-in-out;
}

footer > .btn-wrap > .btn > ul.bottomDropUp {
  height: calc(calc(5rem * 14) + 1.2rem);
  transition: all 0.5s ease-in-out;
}

footer > .btn-wrap > .btn > ul {
  height: 0;
  margin: 0;
  overflow: hidden;
  transition: all 0.5s ease-in-out;
}

footer > .btn-wrap > .btn > ul > li {
  width: 100%;
  height: 5rem;
}

footer > .btn-wrap > .btn > ul > li > a {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 1.2rem 2.4rem;
}
footer > .btn-wrap > .btn > ul > li > a:hover {
  color: var(--main-color-white);
  background-color: var(--primary-color);
}

footer > .ft-bottom-wrapper {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

footer > .ft-bottom-wrapper > .ft-bottom-box {
  width: 100%;
  margin: var(--margin-grid-system);
  color: var(--main-color-white);
}

footer > .ft-bottom-wrapper > .ft-bottom-box > .ft-menu-box {
  box-sizing: border-box;
  height: 8.2rem;
}

footer > .ft-bottom-wrapper > .ft-bottom-box > .ft-menu-box > ul {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 3.6rem;
  padding-top: 4.8rem;
}

footer > .ft-bottom-wrapper > .ft-bottom-box > .ft-menu-box > ul > li {
  font-size: 1.6rem;
  font-weight: 500;
}

footer > .ft-bottom-wrapper > .ft-bottom-box > .ft-menu-box > ul > li:first-child {
  color: rgba(251, 178, 32, 1);
  font-weight: 800 !important;
}

footer > .ft-bottom-wrapper > .ft-bottom-box > .bottom-leftover {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

footer > .ft-bottom-wrapper > .ft-bottom-box > .bottom-leftover > .ft-info-container {
  cursor: default;
  padding-top: 3.2rem;
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  font-size: 1.4rem;
}

footer > .ft-bottom-wrapper > .ft-bottom-box > .bottom-leftover > .ft-info-container > .address-box {
  display: flex;
  align-items: center;
  gap: 1.2rem;
}

footer > .ft-bottom-wrapper > .ft-bottom-box > .bottom-leftover > .ft-info-container > .address-box > #between-liner {
  width: 0.2rem;
  height: 1.6rem;
  background-color: rgba(248, 249, 250, 0.5);
  border-radius: 0.2rem;
}

footer > .ft-bottom-wrapper > .ft-bottom-box > .bottom-leftover > .ft-bottom-marks {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3.6rem;
}
/* @medias wrapper --------------------------------------------------------------- */
@media screen and (max-width: 1480px) {
  header > .hd-container {
    justify-content: space-between;
    width: 100%;
  }
}

@media screen and (max-width: 1480px) {
  header > .hd-container > .menu-box {
    display: none;
  }
}

@media screen and (max-width: 1480px) {
  header > .hd-container > .side-box > .language-box > .translate-box {
    display: none;
  }
}

@media screen and (max-width: 1480px) {
  header > .hd-container > .side-box > .tab-box {
    display: block;
  }
}
/* @keyframes wrapper --------------------------------------------------------------- */
@keyframes bgWave {
  0% {
    transform: rotate(360deg);
  }
}
