/* Normalize ------------------------------------------------------------ */
body,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}
/* Variable ------------------------------------------------------------ */
:root {
  --grid-system: 0 14rem;
  --primary-color: rgba(38, 127, 195, 1);
  --main-color-white: rgba(248, 249, 250, 1);
  --main-color-gray: rgba(68, 68, 68, 1);
  --box-border: 1px solid black;
  --object-cover: cover;
  --object-contain: contain;
}
/* Styler ------------------------------------------------------------ */
* {
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

html body {
  overflow-x: hidden;
}

header,
main,
footer {
  width: 100%;
}

span,
img {
  display: block;
}
/* Customize --------------------------------------------------------------- */
/* header --------------------------------------------------------------- */
header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 7rem;
}

header > .hd-container {
  width: 100%;
  height: 9rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: var(--box-border);
}
/* header > logo-box --------------------------------------------------------------- */
header > .hd-container > .hd-logo-box {
  border: var(--box-border);
  height: 100%;
}

header > .hd-container > .hd-logo-box > a {
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  overflow: hidden;
}

header > .hd-container > .hd-logo-box > a > img {
  width: 100%;
  object-fit: var(--object-cover);
}
/* header > menu-box --------------------------------------------------------------- */
header > .hd-container > .menu-box {
  width: 83.5em;
  height: 100%;

  border: var(--box-border);
}
